name: Revisar Empleos

on:
  schedule:
    - cron: '0 */3 * * *'  # Se ejecuta cada 3 horas automáticamente
  workflow_dispatch:       # Botón para ejecutarlo manualmente

jobs:
  run-alerta:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run alerta.py
        run: python alerta.py
